.filter-container{
    max-width: 1100px;
    width: 100%;
    padding-inline: 20px;
}

.roomtype-list{
    display: flex;
    gap: 10px;
}

.roomtype{
    background-color: transparent;
    padding: 8px;
    color: #5e5e5e;
    transition: 0.3s;
    border: 10px;
    border-radius: 3px;
    cursor: pointer;

}

form input{
    background-color: white;
}

.roomtype:hover{
    background-color: #eeeeee;
}

.all-roomtype{
    cursor: pointer;
    background-color: #75C5CF;
    color: white;
    border: 0px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
}

.room-cards {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1500px;
    justify-content: center;
    width: 100%;
    gap: 20px;
    margin-bottom: 50px
}

.room-card {
    border: #dddddd 1px solid;
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.room-card > img {
    width: 100%;
    object-fit: cover;
}

.cover-info {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    align-items: center;
    padding: 10px;
    font-weight: 700;
    color: #5E5E5E;
}

.room-card > button {
    background-color: #86D9E3;
    color: white;
    width: 100%;
    height: 30px;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    background-image: linear-gradient(#BBE9EF, #76C5CF);
    cursor: pointer;
}

.room-card > button:hover {
    background-color: #75C5CF;
}

footer{
    height: 100px;
    background-color: #272727;
}

.h-container > i{
    display: none;
}


@media (max-width: 1000px) {
    .info-cards{
        flex-direction: column;
        align-items: center;
    }

    .info-cards > div{

        width: 250px;
    }

}

@media (max-width: 840px) {
    .info-cards{
        flex-direction: column;
        align-items: center;
    }

    .info-cards > div{

        width: 250px;
    }
}


@media (max-width: 740px) {
    .room-card {

        width: 100%;
        max-width: 720px;
    }

    .room-cards {
        flex-direction: column;
        align-items: center;
    }

    .room-card{
        width: 100%;
    }
}

@media (max-width: 480px) {
    

    .room-card {
        max-width: 100%;
    }

    .info-cards > div > i{
        color: #75C5CF;
        font-size: 30px;
        border: 1px #75C5CF solid;
        padding: 40px;
        border-radius: 100%;
        transition: 0.5s;
    }

    .room-card > button {
        height: 40px;
        font-size: 23px;
    }
}