<div id="hero-cont">
    <div class="filter-container">
        <div id="roomtype-list">
            <button class="all-roomtype" (click)="getRooms()">All</button>
            @for (item of types; track $index) {
                <button class="roomtype" (click)="filterByType(item.id)">{{item.name}}</button>
            }
        </div>
        <form id="filter" [formGroup]="form" (submit)="submit()">
            <div class="range">
                <label>Price Per Night</label>
                <div class="range-child">
                    <div>
                        <label for="min" class="minmax">Minimum</label>
                        <input type="number" formControlName = "priceFrom">
                    </div>
                    <div>
                        <label for="max" class="minmax">Maximum</label>
                        <input type="number" name="checkOut" formControlName = "priceTo">
                    </div>
                </div>
            </div> 
            <div class="room-type">
                <label for="roomTypeId">Room Type</label>
                <select name="roomTypeId" id="roomtypeselect" formControlName = "roomTypeId">
                    <option selected="selected" disabled="disabled" value="Select a room">Select a room</option>
                    <option [ngValue]="1">Single Room</option>
                    <option [ngValue]="2">Double Room</option>
                    <option [ngValue]="3">Deluxe Room</option>
                </select>
            </div>

            <div class="room-type">
                <label for="checkIn">check-in</label>
                <input type="date" name="checkIn" id="" value=""  formControlName = "checkIn">
            </div>

            <div class="room-type">
                <label for="checkOut">check-out</label>
                <input type="date" name="checkOut" id="" value="" formControlName = "checkOut">
            </div>
            <div class="guest">
                <label for="maximumGuests">Guests</label>
                <select name="maximumGuests" id="roomtypeselect" formControlName = "maximumGuests">
                    <option [ngValue]="1">1</option>
                    <option [ngValue]="2">2</option>
                    <option [ngValue]="3">3</option>
                    <option [ngValue]="4">4</option>
                    <option [ngValue]="5">5</option>
                </select>
            </div>
            <div class="submitdiv">  
                <input type="submit" name="" class="applyfilter">
                <input type="reset" value="Reset" class="applyfilter" (click)="getRooms()">
            </div>
        </form>

        
    <div class="room-cards">
        @for (item of rooms; track $index) {
            <div class="room-card">
                <img [src]="item.images[0].source" alt="">
                <div class="cover-info">
                    <p>{{item.name}}</p>
                    <p class="price">€{{item.pricePerNight}}</p>
                </div>
                <button>Book Now</button>
            </div>
        }
    </div>
</div>