<div id="hero-cont">
    <div class="filter-container">
        <div id="roomtype-list">
            <button class="all-roomtype" (click)="getRooms()">All</button>
            @for (item of types; track $index) {
                <button class="roomtype" (click)="filterByType(item.id)">{{item.name}}</button>
            }
        </div>
        <app-filter (submitTrnsport)="submit($event)" (getall)="getRooms()"></app-filter>
    <div class="room-cards">
        @for (item of rooms; track $index) {
            <div class="room-card">
                <img [src]="item.images[0].source" alt="">
                <div class="cover-info">
                    <p>{{item.name}}</p>
                    <p class="price" >€{{item.pricePerNight}}</p>
                </div>
                <button routerLink="/details/{{item.id}}">Book Now</button>
            </div>
        }
    </div>
</div>